doctype html
html(lang="en")
  head
    title single

    link(type="text/css", rel='stylesheet', href='stylesheets/style.css', media='screen')
    script(type="text/javascript", src="javascripts/jquery-1.10.2.min.js")
    script(type="text/javascript", src="javascripts/jquery.fullscreen.js")
    script(type="text/javascript", src="javascripts/jquery-ui-1.10.3.custom.js")
    script(type="text/javascript", src="/javascripts/ko.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="javascripts/single.js")
    script(type="text/javascript", src="javascripts/viewmodel.js")

    script(type='text/javascript').
      $(document).ready(function() {
        var vm = new ViewModel();
        var v = #{showRunDemoButton};
        vm.pushExamplesButtonVisible(v);
        initializeSingle(vm);
        ko.applyBindings(vm);
      });

  body    
    #container
      #progressBar(data-bind='progressBar: eyefiUploadProgressPercent()')
      
      img#main(data-bind='attr: { src: imageName, alt: imageName }')
      #imageName(data-bind='text: displayName') imageName
      img#his(alt='histogram', data-bind='visible: isHistogramVisible, attr: { src: histogramImageName }, style: { top: histogramTop, left: histogramLeft }')
      img#loading(src='loading.gif', alt='loading', data-bind='visible: isLoadingImage')

      #rightContainer

        #exifContainer(data-bind='foreach: exifArray')
          div(data-bind='text: $data').exifBox EXIF

        #buttonContainer
          .nevButton#toggleAutoplayButton(data-bind='click: togglePlayback')
            img#toggleAutoplayImg.nevButtonContent(data-bind='attr: { src: playButtonIcon, alt: playButtonAlt }', clickableButton='true')
          .nevButton#toggleHistogramButton
            img#toggleHistogramImg.nevButtonContent(src='histogramButton.png', alt='toggle histogram', clickableButton='true', data-bind='click: toggleHistogramEnabled, css: { buttonEnabled: isHistogramVisible }')
          .nevButton#resetHistogramButton
            .exifBox(data-bind='visible: isResetHistogramVisible, click: resetHistogramPosition') Reset

          #queueList.exifBox(data-bind='visible: readyQueueNamesVisible') Ready: 
            span(data-bind='text: readyQueueNames().length') 0
            ul.queueList(data-bind='foreach: readyQueueNames')
              li
                span.queueListItem(data-bind='text: $data')

          #queueList.exifBox(data-bind='visible: processingNamesVisible') Processing: 
            span(data-bind='text: processingNames().length') 0
            ul.queueList(data-bind='foreach: processingNames')
              li
                span.queueListItem(data-bind='text: $data')

          #queueList.exifBox(data-bind='visible: processQueueNamesVisible') Queue: 
            span(data-bind='text: processQueueNames().length') 0
            ul.queueList(data-bind='foreach: processQueueNames')
              li 
                span.queueListItem(data-bind='text: $data')
          #demoButton.exifBox(data-bind='visible: pushExamplesButtonVisible, click: pushExamples') Push Ex.

      #thumbnailContainer
