doctype html
html(lang="en")
  head
    title single

    link(type="text/css", rel='stylesheet', href='stylesheets/single.css', media='screen')
    script(type="text/javascript", src="javascripts/jquery-1.10.2.min.js")
    script(type="text/javascript", src="javascripts/jquery.fullscreen.js")
    script(type="text/javascript", src="javascripts/jquery-ui-1.10.3.custom.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")    
    script(type="text/javascript", src="javascripts/single.js")

    script(type='text/javascript').
      $(document).ready(function() {
        initializeSingle();
      });

  body    
    #container
      #progressBar
      img#main(src='', alt='no image')
      #imageName imageName
      img#his(src='', alt='no histogram')
      img#loading(src='loading.gif', alt='loading')
      #rightContainer
        #exifContainer
          #exifISO.exifBox ISO
          #exifAperture.exifBox F
          #exifShutterSpeed.exifBox S
          #exifFocalLength.exifBox FL
        #buttonContainer
          .nevButton#toggleAutoplayButton
            img#toggleAutoplayImg.nevButtonContent(src='pause.png', alt='pause', clickableButton='true')
          .nevButton#toggleHistogramButton
            img#toggleHistogramImg.nevButtonContent(src='histogramButton.png', alt='toggle histogram', clickableButton='true')
          .nevButton#resetHistogramButton
            .exifBox Reset
          #queueLen.exifBox 0
          #demoButton.exifBox Run demo
      #timerBar
      #thumbnailContainer
