doctype 5
html(lang="en")
  head
    title single

    link(rel='stylesheet', href='css/single.css', type='text/css', media='screen')
    script(type="text/javascript", src="/javascripts/jquery-1.10.2.min.js")
    script(type="text/javascript", src="/javascripts/jquery.fullscreen.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/javascripts/single.js")

    script(type='text/javascript').
      $(document).ready(function() {
        initializeSingle();
      });

  body
    #container
      #imageName imageName
      #exifInfo
        #exifISO.exifBox ISO
        #exifAperture.exifBox F
        #exifShutterSpeed.exifBox S
        #exifFocalLength.exifBox FL
        #queueLength.exifBox Queue
      #progressBar
        #progressBarDiv
      img#main(src='', alt='no image')
      img#his(src='', alt='no histogram')