doctype 5
html(lang="en")
  head
    title Reza    
    
    link(rel="stylesheet", href="css/supersized.css", type="text/css", media="screen")
    link(rel="stylesheet", href="theme/supersized.shutter.css", type="text/css", media="screen")
    
    script(type="text/javascript", src="http://code.jquery.com/jquery-1.10.2.min.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/js/jquery.easing.min.js")
    script(type="text/javascript", src="/js/supersized.3.2.7.min.js")
    script(type="text/javascript", src="/theme/supersized.shutter.min.js")
    script(type='text/javascript').
      function rescanImages() 
      {
        $.get('/api/images', function(data, status) {
          $.supersized({
            // Functionality
            autoplay                :   0,
            slide_interval          :   5000,     // Length between transitions
            transition              :   0,        // 0-None, 1-Fade, 2-Slide Top, 3-Slide Right, 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
            transition_speed        :   1000,      // Speed of transition
                                 
            // Components

            slide_links             :   'blank',  // Individual links for each slide (Options: false, 'num', 'name', 'blank')
            slides                  : data
          });
        });
      }
      
      function setupSocket() {
        var socket = io.connect('http://localhost:8080');
        socket.on('rescanImages', function(data) {
          rescanImages();
          socket.emit('ok');
        });
      }
      
      
    
      $(document).ready(function() {
        rescanImages();
        setupSocket();
      });
  
  style(type='text/css').
    ul#demo-block{
      margin:0 15px 15px 15px; 
    }
    ul#demo-block li{ 
      margin:0 0 10px 0; 
      padding:10px; 
      display:inline; 
      float:left; 
      clear:both; 
      color:#aaa; 
      background:url('img/bg-black.png'); 
      font:11px Helvetica, Arial, sans-serif; 
    }
    
    ul#demo-block li a{ 
      color:#eee; 
      font-weight:bold; 
    }
      
  body
    // Thumbnail Navigation
    #prevthumb
    #nextthumb
    
    // Arrow Navigation
    a#prevslide.load-item
    a#nextslide.load-item
    
    #thumb-tray.load-item
      #thumb-back
      #thumb-forward
      
    // Time Bar
    #progress-back.load-item
      #progress-bar
      
    // Control Bar
    #controls-wrapper.load-item
      #controls
        a#play-button
          img#pauseplay(src='img/pause.png')
        // Slide counter
        #slidecounter
          span.slidenumber
          | /
          span.totalslides
        // Slide captions displayed here
        #slidecaption
        // Thumb Tray button
        a#tray-button
          img#tray-arrow(src='img/button-tray-up.png')
        // Navigation
        ul#slide-list
